%h2= t('.resend_confirmation_instruction')
= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
  = devise_error_messages!
  .form-group
    = f.label :email
    = f.email_field :email, autofocus: true
  %div= f.submit t('.resend')
