.b-review-new
  %h4= t 'your_review'
  .rating
    %p= t 'rating'
    %p.b-ratable.new-review

  = form_for(Review.new, url: [:add_review, resource], method: :post, html: { class: 'form new-review-form' }) do |f|
    = hidden_field_tag 'review[rating_score]'
    = f.hidden_field :user_id, { value: current_user.try(:id) }
    %p
      = f.label :pluses, t('pluses', scope: [:activerecord, :attributes, :review])
      = f.text_field :pluses, class: 'big'
      %span= t('views.product.new_review_examples.pluses')

    %p
      = f.label :cons, t('cons', scope: [:activerecord, :attributes, :review])
      = f.text_field :cons, class: 'big'
      %span= t('views.product.new_review_examples.cons')

    %p
      = f.label :body do
        = t('body', scope: [:activerecord, :attributes, :review])
        %span.required *
      = f.text_area :body, required: true, class: 'big'
      %span= t('views.product.new_review_examples.body')

    %p
      = f.submit 'Оставить отзыв', class: 'btn btn-pink'
      = link_to 'Отмена', '#', class: 'cancel-btn btn'
