- main_class ||= 'wishlist'

.b-single-product{ class: main_class }
  = linked_product_preview product, :product, main_class.to_sym
  .b-info
    %h3.title= link_to product.title, product, title: product.title
    %p.price= I18n.t('views.product.with_currency', coust: price_formatted(product.price_with_discount))
    .b-product-ratable-with-reviews.smal
      .b-ratable.read_only{ data: { score: product.average_score } }
      = link_to t('views.product.reviews_count', count: product.published_reviews_count), product_path(product, anchor: 'reviews'), class: 'reviews-count'
    .b-commerce
      %ul.single-product{ class: main_class }
        %li= cart_btn product.id, class: 'btn btn-add-to-cart single-product'
        - if user_signed_in?
          %li= add_to_wishlist(product)
