- main_class ||= 'wishlist'

.b-single-product{ class: main_class }
  - photo = product.photos.first
  - if photo
    .e-image{ style: "background-image: url(#{ photo.file_url(:product, main_class.to_sym) })" }
  .b-info
    %p.title= link_to product.title, product
    %p.price= I18n.t('views.product.with_currency', coust: product.price_with_discount)
    .b-product-ratable-with-reviews.smal
      .ratable.read_only{ data: { score: product.average_score } }
      = link_to t('views.product.reviews_count', count: product.published_reviews_count), product_path(product, anchor: 'reviews'), class: 'reviews-count'
    .b-commerce
      %ul.single-product{ class: main_class }
        %li
          = button_to line_items_path(product_id: product.id), class: 'btn add-to-cart single-product' do
            %i.icon.icon-add-to-cart
            = t('add_to_cart')
        %li
          - if main_class != 'wishlist'
            = add_to_wishlist(product) if user_signed_in?
          - else
            = link_to t('delete'), [:remove_from_wishlist, product]
