.b-additional-fields-for-sign-up
  .form-group
    = f.label :birthday, t('birthday', scope: [:activerecord, :attributes, :user])
    = f.date_field :birthday

  .form-group
    = f.label :phone, t('phone', scope: [:activerecord, :attributes, :user])
    = f.text_field :phone

  .form-group
    = f.label :city_id, t('city', scope: [:activerecord, :attributes, :user])
    = f.hidden_field :city_id, { data: { search_path: cities_path, searching: t('searching'), not_found: t('cities.no_matches_found') }, class: 'get-cities' }

  .form-group
    = f.label :address, t('address', scope: [:activerecord, :attributes, :user])
    = f.text_field :address

  .form-group
    = f.label :index, t('index', scope: [:activerecord, :attributes, :user])
    = f.text_field :index
