= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form' }) do |f|
  = devise_error_messages!
  = render 'devise/registrations/includes/main_fields', f: f

  = link_to '#', class: 'e-additional-fields' do
    = t('addition')
    %i.icon-arrow-bottom
  = render 'devise/registrations/includes/additional_fields_for_sign_up', f: f

  %div= f.submit "Зарегистрироваться"
