= form_for @user, html: { class: 'form' } do |f|
  .form-group
    = f.label :full_name, t('full_name', scope: [:activerecord, :attributes, :user])
    = f.text_field :full_name
    .help-block
      Например: Иван Васильевич Петров

  = render 'devise/registrations/includes/additional_fields_for_sign_up', f: f
  = f.submit t('save')
