.b-single-product.catalog
  = background_image_tag ImageDecorator.decorate(product).photo_url(:product, :similar)
  .b-info
    .b-info-main
      %h3.title= link_to product.title, product, title: product.title
      .l-single-product-description
        = truncate product.description.html_safe, length: 400

    .b-info-short
      = price_with_discount(product.price, product.price_with_discount)
      .b-product-ratable-with-reviews.smal
        .b-ratable.read_only{ data: { score: product.average_score } }
        .b-reviews-count
          = link_to t('views.product.reviews_count', count: product.published_reviews_count), product_path(product, anchor: 'reviews')
      = icon_in_stock(product.in_stock, 'small')

    .b-commerce
      %ul
        %li= cart_btn product.id, class: 'btn btn-add-to-cart single-product'
        %li
          = add_to_wishlist(product) if user_signed_in?
