%footer
  .row.our-products
    .container
      %h2
        Наша продукция
        %span.icons-arrow-black-down
      - if @product_categories.present?
        %ul.menu
          %li= link_to 'Sale', [:sale, :product_categories], class: 'pink'
          = build_product_category_ancestry_tree(@product_categories)

  .row.dark-gray-bg
    .container
      %h2.pull-left
        Поиск
        %span.icons-arrow-black-right
      = render 'shared/search_bar'
  .row.who-are-we
    .container
      .pull-left
        %h2
          Кто мы
          %span.icons-arrow-black-down
        %ul.menu.left-menu
          %li
            = link_to I18n.t('views.pages.about'),
              page_path(:about),
              class: active_class_for_page(params, 'about')
          %li= link_to t('brands'), [:brands]
          %li
            = link_to I18n.t('views.pages.contacts'),
              page_path(:contacts),
              class: active_class_for_page(params, 'contacts')
            .help-block
              %p= @settings[:shop_phone]
              %p.pink= "#{ @settings[:shop_work_start] } - #{ @settings[:shop_work_end] }"
          %li= link_to @news.title, @news
          %li.pull-right= link_to @useful_information.title, @useful_information
      .pull-left.right-block
        .gray-block
          %h2
            Удобство и безопасность
            %span.icons-arrow-black-down
          %ul.menu.right-menu
            = render 'shared/includes/static_pages_links'
        .gray-block.subscribe
          %p Получить рассылку на новинки и т.д.
          = form_tag '/', class: 'inline-one-input' do
            %span.wrapper<
              = text_field_tag :email, '', placeholder: 'Укажите вашу почту'
              = submit_tag 'Подписаться', class: 'btn btn-pink'
