%header
  #logo.item
    = link_to '', root_path, class: 'full-block-link'
    .image= image_tag 'application/logo.png'
    = @settings[:shop_name]
    %br
    %span.blue Звук как надо
  #catalog.item
    .btn
      Продукция
      %span.caret
  #menu.item
    %ul.menu
      %li= link_to 'О нас', '#', class: 'active'
      %li
        = link_to 'Контакты', '#'
        .help-block
          %p= @settings[:shop_phone]
          %p.dark-pink= "#{ @settings[:shop_work_start] } - #{ @settings[:shop_work_end] }"
      %li= link_to 'Бренды', '#'
      %li= link_to 'Оплата', '#'
      %li
        = link_to 'Доставка', '#'
        .help-block
          - @settings[:delivery_cities].split(',').each do |city|
            %p= city
      %li
        = link_to 'Помощь и обратная связь', '#'
        .help-block
          %p.light-blue Безопасность
          %p.light-blue Возврат денег

.container
  = render 'shared/search_bar'