.user-widget-wrapper
  .user-widget
    .panel.wishes
      .icon
      - if current_user
        = link_to '', [:wishlist, current_user]
      - else
        = link_to '', new_user_session_path
    .panel.cart
      .icon
      .cart-items-counter 5
      = link_to '', @cart
    .panel.profile
      .icon
        - if current_user
          = link_to '', current_user
        - else
          = link_to '', new_user_session_path

    .you_watched
      - if current_user && session[:user]['product_ids'].any?
        = link_to t('you_watched'), [:you_watched, current_user], class: ('active' if current_page?([:you_watched, current_user]))
