.container
  %h1 Каталог

  - if @product_categories.any?
    .categories-list
      %ul.menu
        = build_product_category_ancestry_tree(@product_categories, { with_image: true })

  - if @news || @useful_information
    %hr
    .b-news.main-page
      - if @news
        .b-news-one.margin-right
          %h3.blue
            = link_to @news.title, @news
          %ul
            = render partial: 'posts/includes/main_news_list', collection: @news.posts.published.limit(3), as: :post

      - if @useful_information
        .b-news-one
          %h3.blue
            = link_to @useful_information.title, @useful_information
          %ul
            = render partial: 'posts/includes/main_news_list',
              collection: @useful_information.posts.published.includes(:admin_user).limit(3),
              as: :post, locals: { with_author: true }
