.container
  %h1= t('catalog')

  - if @front_presenter.product_categories_with_photos.any?
    .categories-list
      %ul.menu.product-category-dropdown-menu{ aria: { labelledby: 'dropdownMenu' } }
        = render 'shared/product_categories_tree',
                  categories: @front_presenter.product_categories_with_photos,
                  images: true

  - if @front_presenter.show_post_categories?
    %hr
    .b-news.main-page
      - if @front_presenter.show_news?
        .b-news-one.margin-right
          %h3.blue
            = link_to @front_presenter.news_category.title, @front_presenter.news_category
          %ul
            = render partial: 'posts/includes/main_news_list', collection: @front_presenter.news_category.with_posts.order_desc.limit(3), as: :post

      - if @front_presenter.show_useful_information?
        .b-news-one
          %h3.blue
            = link_to @front_presenter.useful_information_category.title, @front_presenter.useful_information_category
          %ul
            = render partial: 'posts/includes/main_news_list',
              collection: @front_presenter.useful_information_category.with_posts.order_desc.includes(:admin_user).limit(3),
              as: :post, locals: { with_author: true }
