.l-order
  = render 'shared/includes/order_steps_header', active_steps: ['cart', 'delivery', 'authentification']

  .b-authentification.b-order-steps
    - if user_signed_in?
      = render 'orders/includes/user_info_for_order'
    - else
      %ul.nav.nav-tabs{ role: 'tablist' }
        %li.active
          = link_to t('.buy_without_registration'), '#without-registration',
            'aria-controls' => 'without-registration', role: 'tab',
            data: { toggle: 'tab' }
        %li
          = link_to t('sign_up'), '#sign-up', 'aria-controls' => 'sign-up',
            role: 'tab', data: { toggle: 'tab' }
        %li
          = link_to t('authentication'), '#authentication', 'aria-controls' => 'authentication',
            role: 'tab', data: { toggle: 'tab' }

      .tab-content
        .tab-pane.active#without-registration{ role: 'tabpanel' }
          = render 'orders/includes/user_info_for_order'
        .tab-pane#sign-up{ role: 'tabpanel' }
          = render 'devise/registrations/sign_up_form'
        .tab-pane#authentication{ role: 'tabpanel' }
          = render 'devise/sessions/sign_in_form'
