.l-order
  = render 'shared/includes/order_steps_header', active_steps: ['cart', 'delivery', 'authentification']

  .b-authentification.b-order-steps
    - if user_signed_in?
      = form_for resource, method: :patch, html: { class: 'form order' } do |f|
        = f.hidden_field :step, { value: Order.steps.keys[1] }
        = hidden_field_tag 'order[next_step]', Order.steps.keys[2]
        .form-group
          = f.label :user_name, t('.user_name'), class: 'required'
          = f.text_field :user_name, { value: resource.user_name || current_user.full_name, required: true }

        .form-group
          = f.label :phone, t('.phone'), class: 'required'
          = f.text_field :phone, { value: resource.phone || current_user.phone, required: true }

        .form-group
          = f.label :city_id, t('.city'), class: 'required'
          = f.hidden_field :city_id, { data: { search_path: cities_path, searching: t('searching'), not_found: t('cities.no_matches_found') }, class: 'get-cities' }

        .form-group
          = f.label :address, t('.address'), class: 'required'
          = f.text_field :address, { value: resource.address || current_user.address, required: true }

        .form-group
          = f.label :post_index, t('.post_index'), class: 'required'
          = f.text_field :post_index, { value: resource.post_index || current_user.index, required: true }

        .b-form-actions
          = link_to t('.choose_delivery_type'), [:delivery, resource], class: 'btn'
          = f.submit t('next_step'), class: 'btn btn-pink'
    - else
      = render template: 'devise/sessions/new'
