.l-order
  %h3= t('.payment')
  .b-user-info
    %dl.dl-horizontal
      %dt= t('.user_name')
      %dd= resource.user_name
      %dt= t('.order_number')
      %dd= resource.id
      %dt= t('.payment_type')
      %dd= I18n.t(resource.payment, scope: [:activerecord, :attributes, :order, :payments])
      %dt= t('.delivery_type')
      %dd= I18n.t(resource.delivery, scope: [:activerecord, :attributes, :order, :deliveries])
  .b-order-line-items
    %table.table.table-hover.table-bordered
      %thead
        %tr
          %th
          %th= t('.product_title')
          %th= t('.quantity')
          %th= t('.total_amount')
      %tbody
        = render partial: 'orders/includes/line_item', collection: resource.line_items.includes(:product), as: :line_item

  .l-order-payment-form
    = payment_service_for resource.id,
        Settings.yandex_cashbox.shop_id,
        amount: resource.total_amount,
        currency: Settings.yandex_cashbox.currency_code,
        service: :yandex_cashbox do |s|

      - s.scid Settings.yandex_cashbox.scid
      - s.customer_number resource.email
      - s.order_number resource.id
      - s.payment_type Settings.yandex_cashbox.payment_type

      - s.customer email: resource.email,
        phone: resource.phone

      - s.urls success: success_payments_url,
        fail: fail_payments_url

      .l-order-actions.pull-right
        .b-order-in-total
          %span #{t('in_total')}:
          = t('views.product.with_currency', coust: price_formatted(resource.total_amount) )
        .b-order-actions
          = submit_tag t('.pay'), class: 'btn btn-pink pull-right'
