= form_tag [page, :feedback], class: 'form' do |f|
  .form-group
    = label_tag 'feedback[name]', t('feedback_user_name'), class: 'required'
    = text_field_tag 'feedback[name]', nil, required: true, class: 'middle'
    .help-block
      Например, Иван Петров

  .form-group
    = label_tag 'feedback[phone]', t('phone')
    = text_field_tag 'feedback[phone]', nil, class: 'middle'
    .help-block
      Например, +7 123 123 1234

  .form-group
    = label_tag 'feedback[email]', t('email'), class: 'required'
    = email_field_tag 'feedback[email]', nil, required: true, class: 'middle'
    .help-block
      Например, ivan@petrov.com

  .form-group
    = label_tag 'feedback[subject]', t('my_question')
    = select_tag 'feedback[subject]',
      options_for_select(Page::FEEDBACK_SUBJECTS.map { |subject| [t("feedback_subject.#{ subject }"), subject] }),
      prompt: t('chouse_category'), class: 'middle'

  .form-group
    = label_tag 'feedback[question]', t('question'), class: 'required'
    = text_area_tag 'feedback[question]', nil, rows: 10, cols: 41, required: true, class: 'middle'
    .help-block
      Максимум 500 символов

  .form-group
    = submit_tag t('ask_a_question'), class: 'btn'
    = submit_tag t('clear'), type: :reset
