.b-cart
  = render 'shared/includes/order_steps_header'

  .e-clear-cart
    %i.icon.icon-clear
    = link_to t('clear_cart'), @cart, method: :delete, class: 'clear-cart'
  .b-cart-table
    %table
      %thead
        %tr
          %th= t('product_name')
          %th= t('quantity')
          %th= t('total_amount')
          %th= t('product_actions')
      %tbody
        = render partial: 'carts/line_item', collection: @cart.line_items, as: :line_item

  .b-cart-bottom
    %ul.e-help-links
      %li= link_to I18n.t('views.pages.payment'), page_path(:payment)
      %li= link_to I18n.t('views.pages.delivery'), page_path(:delivery)
      %li= link_to I18n.t('views.pages.return'), page_path(:return)

    .e-cart-total-information
      %p= t('cart_total_amount')
      %p.cart-total-amount{ data: { total: @cart.total_amount } }
        = t('views.product.with_currency', coust: @cart.total_amount)
      = form_for @cart.build_order, html: { class: 'form checkout' } do |f|
        = f.submit t('checkout'), class: 'btn btn-pink'
