= form_for resource, method: :patch, html: { class: 'form order' } do |f|
  = f.hidden_field :step, { value: Order.steps.keys[1] }
  = hidden_field_tag 'order[next_step]', Order.steps.keys[2]
  .form-group
    = f.label :user_name, t('.user_name'), class: 'required'
    = f.text_field :user_name, { value: resource.user_name || (current_user.full_name if current_user), required: true }

  .form-group
    = f.label :phone, t('.phone'), class: 'required'
    = f.text_field :phone, { value: resource.phone || (current_user.phone if current_user), required: true }

  .form-group
    = f.label :email, t('.email'), class: 'required'
    = f.text_field :email, { value: resource.email || (current_user.email if current_user), required: true }

  .form-group
    = f.label :city_id, t('.city'), class: 'required'
    = f.hidden_field :city_id, { value: (current_user.city_id if current_user), data: { search_path: cities_path, searching: t('searching'), not_found: t('cities.no_matches_found') }, class: 'get-cities' }

  .form-group
    = f.label :address, t('.address')
    = f.text_field :address, { value: resource.address || (current_user.address if current_user) }

  .form-group
    = f.label :post_index, t('.post_index')
    = f.text_field :post_index, { value: resource.post_index || (current_user.index if current_user) }

  .b-form-actions.btn-group{ role: 'group' }
    = link_to t('.choose_delivery_type'), [:delivery, resource], class: 'btn btn-default'
    = link_to t('continue_purchases'), root_path, class: 'btn btn-success'
    = f.submit t('next_step'), class: 'btn btn-pink'
