.b-product-category
  %h3 #{ resource.title } (#{ resource.published_products_count })

  = render 'shared/products_filters', form_path: url_for(resource), brands: @brands

  .b-products
    = render partial: 'product_categories/includes/product', collection: @products, as: :product

= will_paginate @products
