%ul.profile-menu
  %li{ class: settings_active_class(controller, 'users', %w(show)) }
    = link_to t('views.users.order_history'), user
  %li{ class: settings_active_class(controller, 'settings', %w(profile mail password subscriptions)) }
    = link_to t('views.users.settings.self'), [:settings, :profile, user]
    %ul.profile-menu.settings
      %li{ class: settings_active_class(controller, 'settings', %w(profile))}
        = link_to t('views.users.settings.profile'), [:settings, :profile, user]
      %li{ class: settings_active_class(controller, 'settings', %w(mail)) }
        = link_to t('views.users.settings.mail'), [:settings, :mail, user]
      %li{ class: settings_active_class(controller, 'settings', %w(password)) }
        = link_to t('views.users.settings.password'), [:settings, :password, user]
      %li{ class: settings_active_class(controller, 'settings', %w(subscriptions)) }
        = link_to t('views.users.settings.subscriptions'), [:settings, :subscriptions, user]
