%tr
  %td= order.id
  %td
    %ol.l-order-line-items-list
      - if order.line_items.any?
        = render partial: 'users/includes/line_item', collection: order.line_items.includes(:product), as: :line_item
      - elsif order.cart_line_items.any?
        = render partial: 'users/includes/line_item', collection: order.cart_line_items.includes(:product), as: :line_item
  %td
    - if order.total_amount == 0.0 && order.cart
      = I18n.t('views.product.with_currency', coust: price_formatted(order.cart_total_amount))
    - else
      = I18n.t('views.product.with_currency', coust: price_formatted(order.total_amount))
  %td= I18n.t(order.state, scope: [:activerecord, :attributes, :order, :states])
  %td= I18n.t(order.delivery, scope: [:activerecord, :attributes, :order, :deliveries])
