%h3 Вход
= form_for(User.new, as: :user, url: session_path(:user), html: { class: 'form sign-in' }) do |f|
  .form-group
    = f.label :email, 'Логин (электронная почта)'
    = f.email_field :email, autofocus: true
  .form-group.forgot-password
    = f.label :password
    = link_to t('views.users.password.forgot'), new_password_path(:user)
    = f.password_field :password, autocomplete: "off"
  .form-group.remember
    = f.check_box :remember_me
    = f.label t('devise.sessions.remember')
    - if devise_mapping.rememberable?
      = f.hidden_field :remember_me
  %div= f.submit "Войти"
