%h3= t 'authentication'
= form_for(User.new, as: :user, url: session_path(:user), html: { class: 'sign-in', role: 'form' }) do |f|
  .form-group
    = f.label :email, 'Логин (электронная почта)'
    .input-group
      %span.input-group-addon
        %i.fa.fa-envelope
      = f.email_field :email, autofocus: true, class: 'form-control'
  .form-group.forgot-password
    = f.label :password
    .input-group
      %span.input-group-addon
        %i.fa.fa-lock
      = f.password_field :password, autocomplete: "off", class: 'form-control'

  .form-group.remember
    = link_to t('views.users.password.forgot'), new_password_path(:user), class: 'pull-right'
    = f.check_box :remember_me
    = f.label t('devise.sessions.remember')

    - if devise_mapping.rememberable?
      = f.hidden_field :remember_me

  .form-group
    = f.submit t('enter'), class: 'btn btn-pink'
