%ul.line-items
  %li
    .btn-group{ role: 'group' }
      = link_to @cart, class: 'btn btn-info btn-xs' do
        = t 'cart'
        %span.badge= @cart.total_quantity
      = link_to t('continue_purchases'), root_path, class: 'btn btn-success btn-xs'

  - @cart.line_items.each do |line_item|
    %li
      .b-single-product.cart-list-user-widget
        .e-photo
          - photo = line_item.photos.default
          - if photo
            .e-image{ style: "background-image: url(#{ photo.file_url(:product, :related) })" }
            %i.icon.icon-clear
            = link_to t('delete'), line_item, method: :delete
        .b-info
          %p.title= link_to line_item.product_title, line_item.product
          %p.price= I18n.t('views.product.with_currency', coust: price_formatted(line_item.price_with_discount))
          - if !line_item.in_stock?
            %p.alert-danger= t('not_available')
        - if line_item.similar_products.published.any? || line_item.related_products.published
          .b-product-related-similar
            %ul
              - if line_item.related_products.published.any?
                %li= link_to t('goods_supplied'), product_path(line_item.product, anchor: 'related-products')
              - if line_item.similar_products.published.any?
                %li= link_to t('you_might_also_like'), product_path(line_item.product, anchor: 'similar-products')
