- active_steps ||= ['cart']

%ul.e-order-steps
  %li.cart{ class: ('active' if active_steps.include?('cart')) }
    = t('cart')
    (
    %span.cart-items-counter= @cart.total_quantity
    )
  %li.delivery{ class: ('active' if active_steps.include?('delivery')) }
    = t('views.pages.delivery')
    %span.help= t('chouse_delivery')
  %li.authentification{ class: ('active' if active_steps.include?('authentification')) }
    = t('authentication')
    %span.help= t('authentication_help_info')
  %li.payment{ class: ('active' if active_steps.include?('payment')) }
    = t('views.pages.payment')
