%li
  = link_to I18n.t('views.pages.payment'),
    page_path(:payment),
    class: active_class_for_page(params, 'payment')
%li
  = link_to I18n.t('views.pages.delivery'),
    page_path(:delivery),
    class: active_class_for_page(params, 'delivery')
  .help-block
    - split_by_divider(@settings[:delivery_cities], ',').each do |city|
      %p= city
%li
  = link_to I18n.t('views.pages.help'),
    page_path(:help),
    class: active_class_for_page(params, 'help')
  .help-block
    %p.light-blue= t 'safety'
    %p.light-blue= t 'refund_of_money'
