.b-search
  %h3= t('search_result', request: params[:q])

  - if collection.any?
    = render 'shared/products_filters', form_path: products_path, brands: @brands

    .b-products
      = render partial: 'product_categories/includes/product', collection: collection, as: :product
  - else
    = t 'products_has_not_been_detected'

= will_paginate collection
