.b-product
  %h3= resource.title

  .b-product-top-information
    = render 'products/includes/image_gallery_show_product_page', resource: resource if resource.photos.any?

    .b-product-short-info
      = price_with_discount(resource)
      .b-product-ratable-with-reviews
        .ratable.read_only{ data: { score: resource.average_score } }
        = link_to I18n.t('views.product.reviews_count', count: resource.published_reviews_count), '#', class: 'reviews-count'

      = render 'products/includes/stores', stores: @stores if @stores.present?

  .b-product-description
    %h4 О товаре
    %p= raw resource.description

  .b-product-tabs
    .nav-tabs
      %ul
        %li.active= link_to 'Технические детали', '#characteristics', data: { block: 'b-product-characteristics' }
        %li
          = link_to t('views.product.review', count: resource.published_reviews_count),
            '#reviews', data: { block: 'b-product-review' }
    .tab-content
      .b-product-characteristics.tab.active
        = render 'products/includes/characteristics', characteristics: @characteristics if @characteristics.present?
      .b-product-review.tab
        = render 'products/includes/reviews' if current_user.present? && resource.can_vote?(current_user.id)

  - if @related_products.present?
    %h4 Товары в комплект
    %ol
      - @related_products.each do |related|
        %li= related.title

  - if @similar_products.present?
    %h4 Вам может понравиться
    %ol
      - @similar_products.each do |similar|
        %li= similar.title
