.b-product
  %h3= resource.title

  .b-product-top-information
    = render 'products/includes/image_gallery_show_product_page', resource: resource if resource.photos.any?

    .b-product-short-info
      = price_with_discount(resource)
      .b-product-ratable-with-reviews
        .ratable.read_only{ data: { score: resource.average_score } }
        = link_to t('views.product.reviews_count', count: resource.published_reviews_count), '#', class: 'reviews-count'

      - if user_signed_in?
        = link_to t('i_like'), [:add_to_wishlist, resource], remote: true, method: :post, data: { role: 'add-to-wish' }
      = render 'products/includes/stores', stores: @stores if @stores.present?

  .b-product-description
    %h4= t('about_good')
    %p= raw resource.description

  .b-product-tabs.tabs
    %ul
      %li.active= link_to 'Технические детали', '#characteristics'
      %li
        = link_to t('views.product.review', count: resource.published_reviews_count),
            '#reviews'
    .tab-content
      .b-product-characteristics.tab.active#characteristics
        = render 'products/includes/characteristics', characteristics: @characteristics if @characteristics.present?
      .b-product-review.tab#reviews
        = link_to t('views.product.new_review'), [:new_review, resource],
            class: 'new-review-link' if user_signed_in? && resource.can_vote?(current_user.id)

        = render partial: 'products/includes/review', collection: @last_reviews, as: :review

        = link_to t('views.product.more_reviews'), [:more_review, resource],
          class: 'more-review', data: { more: 0, count: Settings.product.reviews_count } if resource.published_reviews_count > Settings.product.reviews_count

  - if @related_products.present?
    %h4= t('goods_supplied')
    - @related_products.in_groups(Settings.product.related_group, false) do |group|
      .b-related-products
        = render partial: 'products/includes/single_product',
          collection: group, as: :product, locals: { main_class: 'related' }

  - if @similar_products.present?
    .b-similar-products
      %h4= t('you_might_also_like')
      = render partial: 'products/includes/single_product',
        collection: @similar_products, as: :product, locals: { main_class: 'similar' }
