%h3= resource.title
= price_with_discount(resource)

- if @stores.present?
  %ol
    - @stores.each do |store|
      %li
        %p= store[:store].title
        %p= store[:store_count].count

%h4 О товаре
%p= raw resource.description

- if @characteristics.present?
  %h4 Технические детали
  %ol
    - @characteristics.each do |char|
      %li= char[:category].title
      - if char[:characteristics].any?
        %ul
          - char[:characteristics].each do |cat_char|
            %li
              %strong= cat_char[:characteristic].title
              %p= cat_char[:characteristic_value].value

%h3= "Отзывы (#{ resource.published_reviews_count })"

- if current_user.present? && resource.can_vote?(current_user.id)
  %h4 Ваш отзыв
  .rating
    %p Рейтинг
    %p.ratable

  = form_for(Review.new, url: [:add_review, resource], method: :post) do |f|
    = hidden_field_tag 'review[rating_score]'
    = f.hidden_field :user_id, { value: current_user.id }
    %p
      = f.label :pluses, t('pluses', scope: [:activerecord, :attributes, :review])
      = f.text_field :pluses

    %p
      = f.label :cons, t('cons', scope: [:activerecord, :attributes, :review])
      = f.text_field :cons

    %p
      = f.label :body, t('body', scope: [:activerecord, :attributes, :review])
      = f.text_field :body

    %p= f.submit 'Оставить отзыв'

- if @related_products.present?
  %h4 Товары в комплект
  %ol
    - @related_products.each do |related|
      %li= related.title

- if @similar_products.present?
  %h4 Вам может понравиться
  %ol
    - @similar_products.each do |similar|
      %li= similar.title
