- content_for :javascripts do
  = javascript_include_tag 'modules/order_in_one_click/index'

.b-product
  %h3
    %span.default.product-title
      - if @product_new_values.present? && @product_new_values.with_title.any?
        = @product_new_values.with_title.first.new_value
      - else
        = resource.title

  .b-product-top-information
    - if @additional_option_value.present? && @additional_option_value.photos.published.any?
      = render 'products/includes/image_gallery_show_product_page', photos: @additional_option_value.photos.published
    - else
      = render 'products/includes/image_gallery_show_product_page', photos: resource.photos.published if resource.photos.published.any?

    .b-product-middle
      - if @show_presenter.additional_options.any?
        .l-additional-options
          = render @show_presenter.additional_options

      .b-product-short-info
        - if @product_new_values.present? && (@product_new_values.with_price.any? || @product_new_values.with_discount.any?)
          - if @product_new_values.with_price.any?
            = price_with_discount(*resource.new_price_with_discount(@product_new_values.with_price.first.new_value.to_i))
          - else
            = price_with_discount(resource.price, resource.price_with_discount(@product_new_values.with_discount.new_value))
        - else
          = price_with_discount(resource.price, resource.price_with_discount)

        .b-product-ratable-with-reviews
          .ratable.read_only{ data: { score: resource.average_score } }
          = link_to t('views.product.reviews_count',
            count: resource.published_reviews_count),
            product_path(resource, anchor: 'reviews'),
            class: 'reviews-count'

        = icon_in_stock(resource.in_stock)
        = render 'products/includes/stores', stores: @show_presenter.stores, product: resource if @show_presenter.stores.present?

    .b-commerce
      %ul
        %li= cart_btn resource.id, class: 'btn btn-add-to-cart'
        - if user_signed_in?
          %li= add_to_wishlist(resource)
        %li.l-make-order-in-one-click
          .l-preloader
            %i.fa.fa-spinner.fa-spin.fa-4x

  .b-product-description
    %h4= t('about_good')
    %p.default.product-description
      - if @product_new_values.present? && @product_new_values.with_description.any?
        = @product_new_values.with_description.first.new_value
      - else
        = raw resource.description

  .b-product-tabs.tabs
    %ul.nav.nav-tabs{ role: 'tablist' }
      %li.active
        = link_to t('technical_details'), '#characteristics',
          'aria-controls' => 'characteristics', role: :tab, 'data-toggle' => 'tab'
      %li
        = link_to t('views.product.review', count: resource.published_reviews_count),
          '#reviews', 'aria-controls' => 'reviews', role: :tab, 'data-toggle' => 'tab'
    .tab-content
      .b-product-characteristics.tab-pane.tab.active#characteristics{ role: 'tabpanel' }
        = render 'products/includes/characteristics', characteristics: @show_presenter.characteristics if @show_presenter.characteristics.present?
      .b-product-review.tab-pane.tab#reviews{ role: 'tabpanel' }
        = link_to t('views.product.new_review'), [:new_review, resource],
            class: 'new-review-link' if user_signed_in? && resource.can_vote?(current_user.id)

        = render partial: 'products/includes/review', collection: @show_presenter.last_reviews, as: :review

        = link_to t('views.product.more_reviews'), [:more_review, resource],
          class: 'more-review', data: { more: 0, count: Settings.product.reviews_count } if resource.published_reviews_count > Settings.product.reviews_count

  - if @show_presenter.related_products.any?
    %h4#related-products= t('goods_supplied')
    - @show_presenter.related_products.in_groups(Settings.product.related_group, false) do |group|
      .b-related-products
        = render partial: 'products/includes/single_product',
          collection: group, as: :product, locals: { main_class: 'related' }

  - if @show_presenter.similar_products.any?
    .b-similar-products
      %h4#similar-products= t('you_might_also_like')
      = render partial: 'products/includes/single_product',
        collection: @show_presenter.similar_products, as: :product, locals: { main_class: 'similar' }
