%h3= resource.title
= price_with_discount(resource)

- if @stores.present?
  %ol
    - @stores.each do |store|
      %li
        %p= store[:store].title
        %p= store[:store_count].count

%h4 О товаре
%p= raw resource.description

- if @characteristics.present?
  %h4 Технические детали
  %ol
    - @characteristics.each do |char|
      %li= char[:category].title
      - if char[:characteristics].any?
        %ul
          - char[:characteristics].each do |cat_char|
            %li
              %strong= cat_char[:characteristic].title
              %p= cat_char[:characteristic_value].value

- if @related_products.present?
  %h4 Товары в комплект
  %ol
    - @related_products.each do |related|
      %li= related.title

- if @similar_products.present?
  %h4 Вам может понравиться
  %ol
    - @similar_products.each do |similar|
      %li= similar.title
