!!! 5
%html(lang="ru")
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=1080", name: "viewport"}

    %title= @meta[:seo_title]
    %meta{name: :keywords, content: @meta[:keywords]}
    %meta{name: :description, content: @meta[:seo_description]}

    = favicon_link_tag 'favicon.png', type: 'image/png'
    = csrf_meta_tags

    <!--[if lt IE 9]><!-->
    = javascript_include_tag 'html5shiv-printshiv'
    <!--<![endif]-->
    = stylesheet_link_tag 'application'

  %body
    = render 'shared/header'

    .banner-wrapper
      = render 'shared/banner'

    - unless current_page?(root_path)
      .breadcrumbs= render_breadcrumbs separator: ' > '

    = yield

    - cache 'static' do
      = render 'shared/footer'

    = javascript_include_tag "application"
    = render 'shared/metrics' if Rails.env.production?
