!!! 5
%html(lang="ru")
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=1080", name: "viewport"}

    %title= @front_presenter.meta[:seo_title]
    %meta{name: :keywords, content: @front_presenter.meta[:keywords]}
    %meta{name: :description, content: @front_presenter.meta[:seo_description]}
    - if Rails.env.production?
      %meta{name: 'yandex-verification', content: '7a36516f56ed1101'}

    = favicon_link_tag 'favicon.png', type: 'image/png'
    = csrf_meta_tags
    = include_gon(init: true)

    <!--[if lt IE 9]><!-->
    = javascript_include_tag 'html5shiv-printshiv'
    <!--<![endif]-->
    = stylesheet_link_tag 'application'

  %body
    = render 'shared/user_widget'
    = render 'shared/header'

    - if current_page?(root_path)
      .banner-wrapper
        = render 'shared/banner'

    .container
      #flash_messages= flash_messages :fade
      - unless current_page?(root_path) || %w(carts orders).include?(controller.controller_name)
        = render_breadcrumbs builder: ::BootstrapBreadcrumbsBuilder, separator: ' > '

      = yield

    = render 'shared/footer'

    = javascript_include_tag "application"
    = render 'shared/metrics' if Rails.env.production?
