!!! 5
%html(lang="ru")
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=1080", name: "viewport"}
    %meta{ name: 'google-site-verification', content: 'M1fdLzjVUx7M1QYL91iZaGXVsTLPF9ovV-PHAGH2RxY' }

    = display_meta_tags site: @settings[:shop_name], reverse: true

    - if Rails.env.production?
      %meta{name: 'yandex-verification', content: '7a36516f56ed1101'}

    = favicon_link_tag 'favicon.png', type: 'image/png'
    = csrf_meta_tags
    = include_gon(init: true)
    = stylesheet_link_tag 'application'

  %body
    = render 'shared/header'

    - if current_page?(root_path)
      .banner-wrapper
        = render 'shared/banner'

    .container
      #flash_messages= flash_messages :fade
      - unless current_page?(root_path) || %w(carts orders).include?(controller.controller_name)
        = render_breadcrumbs builder: ::BootstrapBreadcrumbsBuilder, separator: ' > '

      = yield

    = render 'shared/footer'

    = javascript_include_tag 'application'
    = javascript_include_tag 'i18n/translations'
    = render 'shared/includes/i18n'
    <!--[if lt IE 9]><!-->
    = javascript_include_tag 'html5shiv/dist/html5shiv-printshiv.min'
    = javascript_include_tag 'html5shiv/dist/html5shiv.min'
    <!--<![endif]-->
    = yield :javascripts

    - if Rails.env.production?
      = render 'shared/metrics'
      = render 'shared/includes/jivosite'
